{% extends 'base.html.twig' %}

{% block title %} my account!{% endblock %}

{% block contenu %}
<h1>Mes Commandes</h1>
<a class="btn btn-info float-right" href="{{path('account.address.add')}}">Add Adress</a>
<hr>
<p> <a href="{{path('account')}}">Retoure  </a></p>
{% if (app.user.orders| length == 0) %}
       vous n'est pas des commande dans votre compte 

{% else %}
  <div class="row">


    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
              <th>Referance</th>
                <th>Passe le </th>
                <th>Produits</th>
                <th>Total</th>
                <th>Voir la commande </th>
               
            </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            
          <tr>
            <td> <span class="badge badge-secondary">{{order.referance}}</span></td>
            <td>{{order.createdAt|date('d/m/Y')}}</td>
           
            <td>
              {{order.getOrderDetailles()|length}}
            </td>
            <td>{{(order.getTotal + order.carrierprice)/100}}dt</td>
            <td>
              <a href="{{path('account.order.show',{'ref':order.referance})}}">
              <i class="fa fa-eye"></i>
              </a>
              
            </td>
            
          </tr>
       
          {% endfor %}
           
        </tbody>
    </table>
    
        
    
  </div>
{% endif %}

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
{% endblock %}
